@model IEnumerable<Model.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {

        <div style="margin-right: 38px;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/id/@Html.DisplayFor(modelItem => item.Id)/200/300" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.title).</p>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </div>
            </div>

        </div>




    }

</div>
